@font-face {
  font-family: 'Rider Condensed';
  src: url('/fonts/RiderCondensed-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LEMON MILK Pro';
  src: url('/fonts/LEMONMILKPro-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}